/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    margin:0 auto;
    padding:0;
    box-sizing:border-box;
}

.rails_menu{
    display:flex;
    background:#eee;
    list-style:none;
}
.rails_menu li{margin:0px 2px;}
.rails_menu li a{
    display:flex;
    font-weight:bold;
    text-decoration:none;
    color:#555;
    padding:18px 25px;
}
.rails_menu li:hover a{
    background:#222;
    color:#fff;
}

.wrapper{
    padding:50px 25px;
}

/* structures */
#goals,
#readings,
#books,
#authors,
#genres{
    margin-bottom:36px;
}
#goals div,
#readings div,
#books div,
#authors div,
#genres div{
    margin-top:14px;
}