<p style="color: green"><%= notice %></p>

<h1>Gêneros</h1>

<div id="genres">
  <% @genres.each do |genre| %>
    <%= render genre %>
    <p>
      <%= link_to "Ver este gênero", genre %>
    </p>
  <% end %>
</div>

<%= link_to "Novo gênero", new_genre_path %>
