<p style="color: green"><%= notice %></p>

<h1>Metas de leitura</h1>

<div id="goals">
  <% @goals.each do |goal| %>
    <%= render goal %>
    <p>
      <%= link_to "Ver esta meta", goal %>
    </p>
  <% end %>
</div>

<%= link_to "Nova meta", new_goal_path %>
