<div id="<%= dom_id book %>">
  <p>
    <strong>Título:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Capa (imagem):</strong>
    <br />
    <%= image_tag book.attachment, width: 150 %>
    <br />
  </p>
  
</div>
