<p style="color: green"><%= notice %></p>

<h1>Autores</h1>

<div id="authors">
  <% @authors.each do |author| %>
    <%= render author %>
    <p>
      <%= link_to "Ver este autor", author %>
    </p>
  <% end %>
</div>

<%= link_to "Novo autor", new_author_path %>
